In [1]:
!pip install mysql-connector

Collecting mysql-connector
  Downloading mysql-connector-2.2.9.tar.gz (11.9 MB)
Building wheels for collected packages: mysql-connector
  Building wheel for mysql-connector (setup.py): started
  Building wheel for mysql-connector (setup.py): finished with status 'done'
  Created wheel for mysql-connector: filename=mysql_connector-2.2.9-cp36-cp36m-win_amd64.whl size=247965 sha256=ac82ba91b64909477cc28df720537349c45daa8a5eef03956b9e81fefa0bc868
  Stored in directory: c:\users\aazim\appdata\local\pip\cache\wheels\23\27\3e\72be437e6a950b8972728d2a62935ae7cd0d7c3c251fb2e737
Successfully built mysql-connector
Installing collected packages: mysql-connector
Successfully installed mysql-connector-2.2.9

In [6]:
import mysql.connector

In [54]:
mydb = mysql.connector.connect(host="localhost",user="root",passwd="sql#1234",auth_plugin='mysql_native_password')
if (mydb):
    print(1)
else:
    print(0)

1

In [37]:
def display(table):
    for row in table:
        print(row)

In [38]:
mycursor = mydb.cursor()
mycursor.execute("Show DATABASES")
display(mycursor)

('chicago',)
('chicago_data',)
('employees',)
('employees_mod',)
('information_schema',)
('mysql',)
('performance_schema',)
('sales',)
('sys',)

In [39]:
mycursor.execute("Use Chicago_data")
mycursor.execute("Show Tables")
display(mycursor)

('census',)
('crime',)
('crime1',)
('crime2',)
('school',)
('school1',)

In [81]:
mycursor.execute("Select COUNT(*) from Crime2")
display(mycursor)

(533,)

In [41]:
mycursor.execute("Select COMMUNITY_AREA_NAME from Census Where PER_CAPITA_INCOME<11000")
display(mycursor)

('West Garfield Park',)
('South Lawndale',)
('Fuller Park',)
('Riverdale',)

In [55]:
mycursor.execute("Select CASE_NUMBER from Crime2 Where DESCRIPTION like '%Minor%'")
display(mycursor)

('HL266884',)
('HK238408',)

In [70]:
mycursor.execute("Select CASE_NUMBER from Crime2 Where PRIMARY_TYPE = 'KIDNAPPING' and  DESCRIPTION like '%Child%'")
display(mycursor)

('HN144152',)

In [77]:
mycursor.execute("Select Distinct(PRIMARY_TYPE) from Crime2 Where LOCATION_DESCRIPTION like '%School%' Order By PRIMARY_TYPE ")
display(mycursor)

('ASSAULT',)
('BATTERY',)
('CRIMINAL DAMAGE',)
('CRIMINAL TRESPASS',)
('NARCOTICS',)

In [47]:
mycursor.execute("Select  E_M_H,AVG(SAFETY_SCORE) from School1 Group By E_M_H")
display(mycursor)

('ES', Decimal('49.4371'))
('HS', Decimal('56.8286'))
('MS', Decimal('53.0000'))

In [48]:
mycursor.execute("Select  COMMUNITY_AREA_NAME from Census Order By PERCENT_HOUSEHOLDS_BELOW_POVERTY Desc LIMIT 5")
display(mycursor)

('Riverdale',)
('Fuller Park',)
('Englewood',)
('North Lawndale',)
('East Garfield Park',)

In [72]:
mycursor.execute("Select  COMMUNITY_AREA_NUMBER from Crime2 Group By COMMUNITY_AREA_NUMBER Order By COUNT(COMMUNITY_AREA_NUMBER) DESC LIMIT 1") 
display(mycursor)

(25,)

In [52]:
mycursor.execute("Select  COMMUNITY_AREA_NAME from Census Where HARDSHIP_INDEX = (Select MAX(HARDSHIP_INDEX) from Census)")
display(mycursor)

('Riverdale',)

In [53]:
mycursor.execute("Select  C.COMMUNITY_AREA_NAME from Census C Join Crime2 C2 ON C.COMMUNITY_AREA_NUMBER = C2.COMMUNITY_AREA_NUMBER Group By C.COMMUNITY_AREA_NAME Order By COUNT(C2.COMMUNITY_AREA_NUMBER) Desc LIMIT 1") 
display(mycursor)

('Austin',)